{% extends 'base.html' %}
{% load static %}

{% block title %}Password Reset Email Sent - Grocefy{% endblock %}

{% block content %}
<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Password Reset Email Sent</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->

<!-- login register wrapper start -->
<div class="login-register-wrapper section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="login-register-tab-list nav">
                    <a href="{% url 'accounts:login' %}">
                        <h4>login</h4>
                    </a>
                    <a href="{% url 'accounts:register' %}">
                        <h4>register</h4>
                    </a>
                </div>
            </div>
            <div class="col-12">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="login-form-container">
                            <div class="login-register-form">
                                <h3>Password Reset Email Sent</h3>
                                <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                                <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                                <div class="btn-box">
                                    <a href="{% url 'accounts:login' %}" class="btn btn-black btn-hover-warning">Return to Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login register wrapper end -->
{% endblock %} 